<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStevenService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://119.47.113.13/wcfServer/WcfServiceLibrary.StevenService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStevenService" contract="WebRef.IStevenService" name="BasicHttpBinding_IStevenService"/>
    </client>
  </system.serviceModel>
</configuration>